In [62]:
import pandas as pd
import numpy as np 
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [63]:
df = pd.read_csv('economic_index.csv',index_col=[0])

In [64]:
df.columns

Index(['year', 'month', 'interest_rate', 'unemployment_rate', 'index_price'], dtype='object')

In [65]:
df.head()

   year  month  interest_rate  unemployment_rate  index_price
0  2017     12           2.75                5.3         1464
1  2017     11           2.50                5.3         1394
2  2017     10           2.50                5.3         1357
3  2017      9           2.50                5.3         1293
4  2017      8           2.50                5.4         1256

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               24 non-null     int64
 1   month              24 non-null     int64
 2   interest_rate      24 non-null     float64
 3   unemployment_rate  24 non-null     float64
 4   index_price        24 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 1.1 KB

In [67]:
df[['interest_rate','unemployment_rate','index_price']].describe()

       interest_rate  unemployment_rate  index_price
count      24.000000           24.00000    24.000000
mean        2.072917            5.77500  1070.083333
std         0.349527            0.33002   210.735341
min         1.750000            5.30000   704.000000
25%         1.750000            5.50000   928.250000
50%         2.000000            5.85000  1061.000000
75%         2.500000            6.10000  1239.000000
max         2.750000            6.20000  1464.000000

In [68]:
X = df.drop(columns=['index_price'])

In [69]:
Y = df['index_price']

In [70]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [71]:
model = sm.OLS(Y_train,X_train).fit()

In [72]:
prediciton = model.predict(X_train)

In [73]:
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:            index_price   R-squared (uncentered):                   0.997
Model:                            OLS   Adj. R-squared (uncentered):              0.996
Method:                 Least Squares   F-statistic:                              1087.
Date:                Sat, 21 Dec 2024   Prob (F-statistic):                    3.03e-15
Time:                        13:48:08   Log-Likelihood:                         -86.960
No. Observations:                  16   AIC:                                      181.9
Df Residuals:                      12   BIC:                                      185.0
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
year                  1.0241      0.470      2.180      0.050       0.000       2.048
month                12.9098      5.436      2.375      0.035       1.065      24.754
interest_rate       270.2107    118.652      2.277      0.042      11.690     528.731
unemployment_rate  -286.3913    124.111     -2.308      0.040    -556.806     -15.976
==============================================================================
Omnibus:                        1.069   Durbin-Watson:                   2.344
Prob(Omnibus):                  0.586   Jarque-Bera (JB):                0.460
Skew:                           0.414   Prob(JB):                        0.794
Kurtosis:                       2.930   Cond. No.                     2.11e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\User\Desktop\Dataset\data\Lib\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=16 observations were given.
  return hypotest_fun_in(*args, **kwds)

In [74]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [75]:
from sklearn.linear_model import LinearRegression

In [76]:
model = LinearRegression()

In [77]:
sfs = SFS(model, 
          k_features="best",  # Maksymalna liczba zmiennych
          forward=True,       # Forward Selection
          floating=False,     
          scoring='r2',       # Możesz zmienić na 'neg_mean_squared_error', itp.
          cv=5)  

sfs.fit(X_train.values,Y_train.values)

print(f'Best features {sfs.k_feature_names_}')

Best features ('0', '1', '3')

In [106]:
def Regressor(X_train,Y_train,X_test,n_job=None):

    from sklearn.linear_model import LinearRegression

    model = LinearRegression()

    model.fit(X_train,Y_train)

    pred = model.predict(X_test)

    print(pred)
    print(f"This is coef of my model :{model.coef_,model.feature_names_in_}\n this is intercept of my model {model.intercept_}")
    print(model.predict([[2017,8,2,10]]))

In [107]:
Regressor(X_train,Y_train,X_test,n_job=-1)

[1172.51047166  938.96264792 1384.05483435  880.55284396 1099.55952775
 1145.47537096 1020.06795002 1362.28102347]
This is coef of my model :(array([371.0157506 ,  28.48163489, -26.83129604,  14.46534186]), array(['year', 'month', 'interest_rate', 'unemployment_rate'],
      dtype=object))
 this is intercept of my model -747299.3740019702
[1358.23887358]

c:\Users\User\Desktop\Dataset\data\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [116]:
import xgboost as xgb


model= xgb.XGBRegressor()